/*defining colors*/
:root {
    --red-color: #E6563B;
    --orange-color: #EB9D3A;
    --green-color: #7CB06C;
    --blue-color: #00ABA9;
    --white-color: #F0F0F0;
    --grey-color: #E6E6E6;
}

/*elements*/
/*setting background color*/
body{
    background-color: var(--white-color);
}

/*setting height of headers*/
h1{
    height: 64px;
}

h2{
    height: 48px;
}

h3{
    height: 40px;
}

h4{
    height: 32px;
}

h5{
    height: 28px;
}

/*defining list properties*/
ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0;
}

li{
    list-style: none;
}

/*defining anchor properties*/
a{
    text-decoration: none;
    color: black;
}

/*classes*/
/*two font classes*/
.anton {
    font-family: 'Anton', sans-serif;
}

.abel {
    font-family: 'Abel', sans-serif;
}

/*setting parameter for logo size and position*/
.logo-sm {
    width: 105px;
    height: 105px;
    position: absolute;
    left: calc(50% - 52.5px);
    z-index: 2;
    top: 25px;

}

.logo-md {
    width: 105px;
    height: 105px;
    position: absolute;
    left: calc(10% - 52.5px);
    z-index: 2;
    top: 25px;
}

/*color classes*/
.white-bg{
    background-color: var(--white-color);
}

.white-text{
    color: var(--white-color);
}

.orange-bg{
    background-color: var(--orange-color);
}

.red-bg{
    background-color: var(--red-color);
}

.green-bg{
    background-color: var(--green-color);
}

.blue-bg{
    background-color: var(--blue-color);
}

/*setting height of header*/
.header-height{
    height: 60px;
}

/*setting properties of circles*/
.circ{
    width:100px;
    height:100px;
    border:5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-small;
}

/*class to display in row*/
.horizontal{
    display: flex;

}

/*setting hr width*/
.width60{
    width : 60%;
}

/*property of images in card*/
.pic{
    border: 10px solid var(--grey-color);
    border-radius: 5px;
}

/*image card properties*/
.card{
    background-color: var(--white-color);
}

.card-img-top{
    width: 260px;
    height: 180px;
}

.horizontal-end{
    display: flex;
    justify-content: flex-end;
}

.css-grid-container{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 3em;
    margin: 0;
}

.card1{
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
}

.card2{
    grid-area: 1 / 2 / 1 / 3;
    margin: 0;
}

.card3{
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
}

.card4{
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;

}
