/*defining colors*/
:root {
    --red-color: #E6563B;
    --orange-color: #EB9D3A;
    --green-color: #7CB06C;
    --blue-color: #00ABA9;
    --white-color: #F0F0F0;
    --grey-color: #E6E6E6;
    box-sizing: border-box;
}

/*elements*/
/*setting background color*/
body{
    background-color: var(--white-color);
}

/*setting height of headers*/
h1{
    height: 64px;
}

h2{
    height: 48px;
}

h3{
    height: 40px;
}

h4{
    height: 32px;
}

h5{
    height: 28px;
}

/*defining list properties*/
ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0;
}

li{
    list-style: none;
}

/*defining anchor properties*/
a{
    text-decoration: none;
    color: black;
}

/*changing properties of twitter icon*/
i{
    color: #1CA1F3;
    font-size: 1.3em;
    position: relative;
    top: 5px;
}

/*classes*/
/*two font classes*/
.anton {
    font-family: 'Anton', sans-serif;
}

.abel {
    font-family: 'Abel', sans-serif;
}

/*setting parameter for logo size and position*/
.logo-sm {
    width: 105px;
    height: 105px;
    position: absolute;
    left: calc(50% - 52px);
    z-index: 2;
    top: 25px;

}

.logo-md {
    width: 105px;
    height: 105px;
    position: absolute;
    left: calc(10% - 52px);
    z-index: 2;
    top: 25px;
}

.logo-lg {
    width: 105px;
    height: 105px;
    position: absolute;
    left: calc(15% - 52px);
    z-index: 2;
    top: 25px;
}
/*color classes*/
.white-bg{
    background-color: var(--white-color);
}

.white-text{
    color: var(--white-color);
}

.orange-bg{
    background-color: var(--orange-color);
}

.red-bg{
    background-color: var(--red-color);
}

.green-bg{
    background-color: var(--green-color);
}

.blue-bg{
    background-color: var(--blue-color);
}

/*setting height of header*/
.header-height{
    height: 55px;
}

/*setting properties of circles*/
.circ{
    width:100px;
    height:100px;
    border:5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-small;
}

/*class to display in row*/
.horizontal{
    display: flex;

}

/*setting hr width*/
.width60{
    width: 60%;
}

.width90{
    width: 90%;
}

/*property of images in card*/
.pic{
    border: 8px solid var(--grey-color);
    border-radius: 5px;
}

/*image card properties*/
.card{
    background-color: var(--white-color);
}

.card-img-top{
    width: 242px;
    height: 170px;
}

/*change article properties*/
.articles {
    display: flex;
    flex-direction: row;
    width: 270px;
    margin-bottom: 30px;

}

.articles .pic{
    width: 50px;
    height: 50px;
    border: 2px solid var(--grey-color);
    border-radius: 1px;
}

/*change tweet properties*/
.tweet{
    line-height: 115%;
    width: 280px;
    font-size: .9em;
}

/*set title position*/
.pl-6{
    padding-left:35%;
}

/*to fix text cutoff on the left*/
.left15px{
    position: relative;
    left: 15px;
}